<html>
  <head>
    <title>{{title}} - is my first project</title>
    <link rel="stylesheet" href="{{url_for('css_static', filename='style.css')}}">
  </head>
  <body>
    <div> Look like a navigation: <a href="/">Home</a></div>
    <h1 >Project number one</h1>
    {% for post in posts %}
    <div><p>{{post.main}} ---> <b>{{post.body}}</b></p></div>
    {% endfor %}
    <h1>upload your file here</h1>
    <form id="uploadform" method="post" enctype="multipart/form-data">
        <label for="file">Select a file</label>
        <input name="file" type="file">
        <button id="submit" type="button">Upload</button>
    </form>
    <p>Result Filename:&nbsp;<span id="resultFilename">No_file</span></p>
    <p>Result Filesize:&nbsp;<span id="resultFilesize">0</span></p>
    <p>Result Hashsum_new: <span id="resulthashsum">0</span></p>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{url_for('js_static', filename='app.js')}}"></script>
  </body>
</html>

